/*
	Template Name: Trade
    Template URL: http://demo.themeregion.com/trade
	Author: Theme Region
	Author URI : http://www.themeregion.com/
    Version: 1.0
    Description: HTML5 Responsive Classifieds Template.
	Tag: HTML5, CSS3, jQuery, Responsive Template.
*/


/* Table of Contents
==================================================
# Global 
# Header
# Main
# Home One
# Home Two
# Services Ad
# Category
# Details
# Ad Details 
# Published Page
# Signin Page
# Create Account
# Post Page
# Myads Page
# Ad Profile
# Delete Page
# About Us 
# Contact Us
# Footer
# Extra
# Custom Fonts
==================================================

*/

/* ==========================================================================
 	Global
 ========================================================================== */

html,
body {
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
	color:#6f6f6f; 
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight:normal;
}

ul {
	margin:0;
	padding:0;
    list-style:none;
}

img {
	max-width: 100%;
}

section {
  min-width: 100%;
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.section {
	background-color:#fff;
	border-radius:4px;
	padding:35px 25px;
	margin-bottom:25px;
	


.services {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 40px;
	overflow: hidden;
	border-radius: 4px;
	
}

.single-service {
	display:inline-block;
	width: 19.6%;
	padding:15px;
	margin-bottom:25px;
}

.services-icon {
	min-height: 30px;
}

.single-service h5 {
	font-size: 16px;
	color: #505050;
	font-weight: 500;
	margin-bottom: 13px;
}

.single-service li {
	margin-bottom: 5px;
}

.single-service li a {
	color: #b5b5b5;
}

.single-service li a:hover {
	color: #00a651;
}


#services-ad .featured {
	margin-bottom: 32px;
	margin-right: 0;
}

#services-ad .featured img {
	width: 100%;
}

#services-ad .featureds h4 {
	padding-bottom: 5px;
}

#services-ad .pagination {
    margin-bottom:50px;
}

#home-section img {
	display: inline;
}

 /* ==========================================================================
 	Category
 ========================================================================== */
