chanbtn/*
    Template Name: Seeker
    Template URL: http://demo.themeregion.com/seeker
    Author: Theme Region
    Author URI : http://www.themeregion.com/
    Version: 1.0
    Description: HTML5 Responsive Job Portal Template.
    Tag: HTML5, CSS3, jQuery, Responsive Template.
*/


/* Table of Contents
==================================================
# Global 
# Header 
# Tr Banner 
# Tr Category 
# Tr Cta 
# Tr Job Post 
# Tr Steps 
# Tr Recent News 
# Tr Testimonial 
# Tr Fun Fact
# Tr Download App 
# Job Details 
# Tr Sidebar 
# User Account 
# Account Info 
# Edit Resume 
# Apply Job 
# archived-job 
# Close Account 
# Open Role 
# Tr Found
# Tr Coming Soon 
# Gmap 
# Tr Pricing 
# Tr Notification 
# Footer 
# Extra CSS 

==================================================

*/

/* ==========================================================================
    Global
 ========================================================================== */

html,
body {
    font-weight:normal;
    overflow-x:hidden;
    color: #7b7b7b;
    background-color: #f5f4f5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    font-weight:normal;
}

.tr-list {
    margin:0;
    padding:0;
    list-style:none;
}

a, 
a:hover,
a:focus,
input:focus {
    text-decoration:none;
    outline: none;
    color:#26B13E;
}

a:hover {
    color:#26B13E;
}

a:active,
a:focus, button:focus, .btn:focus,
input:focus, textarea:focus, select:focus, 
.form-control, .form-control:focus {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

.section-title h1 {
    font-size: 24px;
    color: #505050;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 45px;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-padding {
    padding: 80px 0;
}
.carousel-indicators{
    margin-bottom: 30px;
}

.page-content {
   
}
.container{
    padding-right:2px;
    padding-left:2px;
}

.btn {
    color: #fff;
    padding: 8px 20px 5px;
    border-radius: 30px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn.btn-primary {
    padding: 8px 20px 5px;
    text-transform: uppercase;
    background-color: #26B13E;          
    border-color: #26B13E;  
}

.btn i {
    float: left;
    font-size: 20px;    
    margin-right: 10px;
}

.btn.button-send {
    margin-right: 10px;
    background-color: #8322cb;
    border-color: #8322cb;
}

.btn.button-send:hover {
    color: #8322cb;
}

.btn:before {
    position: absolute;
    content: "";
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}

.btn:hover:before {
    right: 0;
}

.btn:hover {
    color: #26B13E;
}

.btn:focus {
    border-color: #26B13E;
}

.section-before {
    position: relative;
    z-index: 1;
}

.section-before:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 55, 62, 0.8);
    z-index: -1;
}

.section {
    padding: 40px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 4px;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 160px; 
  height: 1.2em; 
  white-space: nowrap;
}


.services {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 40px;
    overflow: hidden;
    border-radius: 4px;
    
}

.single-service {
    display:inline-block;
    width: 19.6%;
    padding:15px;
    margin-bottom:25px;
}

.services-icon {
    min-height: 30px;
}

.single-service h5 {
    font-size: 16px;
    color: #505050;
    font-weight: 500;
    margin-bottom: 13px;
}

.single-service li {
    margin-bottom: 5px;
}

.single-service li a {
    color: #b5b5b5;
}

.single-service li a:hover {
    color: #00a651;
}
.breadcrumb-section h2.title {
    margin-top: 0;
    margin-bottom: 32px;
}

.breadcrumb-section .breadcrumb {
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}

.tr-title {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 380px; 
    height: 1.2em; 
}
  .tr-child {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 380px; 
    height: 1.2em;   
  
}

.form-control {
    height: 45px;
    font-size: 17px;
    padding: 5px 10px;
    font-family:  ProximaNova-Regular, Arial, Helvetica, sans-serif;
    color: #2d3038;
    margin-bottom: 3px;
    margin-top:20px;
    
    background-color: #faf7fa;
}

.form-control:focus {
    
}
.algolia-autocomplete {
  width: 80%;
}

.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 80%;
}

.algolia-autocomplete .aa-hint {
  color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
  width: 80%;
  background-color:#fff;
  border-top: none;
  margin-top: -3px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  border: 1px solid #60A561;
  border-top: 0;
  outline: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(152, 203, 232, 0);
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 12px 20px;
  display: flex;
  font-family:  ProximaNova-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  color:#77685D;
}

.algolia-autocomplete .aa-dropdown-menu .aa-empty {
  padding: 6px 12px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #9CE37D;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: italic;
}

.aa-suggestions-category {
  border-top: 2px solid rgba(228, 228, 228, 0.6);
  border-bottom: 2px solid rgba(228, 228, 228, 0.6);
  padding: 10px 12px;
  color: #77867F;
}

.aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px;
}

.title-after {
    padding-bottom: 15px;
    position: relative;
}

.title-after:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -50px;
    width: 150%;
    height: 1px;
    background-color: #f5f4f5;
}

.user-title h1 {
    font-size: 48px;
    margin: 0;
}

.bookmark .remove-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: #e6e3e6;
    border-radius: 100%;
    z-index: 99999;
}

.remove-icon {
    cursor: pointer;
}

.bookmark .remove-icon:hover {
    background-color: #26B13E;
}

.jqte_editor {
    resize: none;
}

/* tr-breadcrumb */

.tr-breadcrumb {
    color: #fff;
    padding: 10px 0;
    overflow: hidden;
    background-image: url(/images/banner.png);
}

.page-title h1 {
    font-size: 48px;
    margin: 0;
    text-transform: capitalize;
}

.tr-breadcrumb .job-meta {
    margin-top: 20px;
}

.breadcrumb {
    padding: 0;
    border: 0;
    font-size: 18px;
    margin-bottom: 0;
    background-color: transparent;
}

.breadcrumb li.active,
.breadcrumb li a,
.breadcrumb>li+li:before,
.tr-breadcrumb .job-meta li,
.tr-breadcrumb .job-meta li a {
    color: #fff;
}

.breadcrumb-logo img,
.user-image img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.user-image,
.breadcrumb-logo {
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 30px;
}

.user-image {
    border: 8px solid #fff;
}

.tr-breadcrumb .job-meta li {
    font-size: 14px;
}

.breadcrumb-social {
    margin-top: 35px;
}

.breadcrumb-social li {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
}

.breadcrumb-social li:last-child {
    margin-right: -0px;
}

.breadcrumb-social li a i {
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
}

.breadcrumb-social li a {
    display: block;
    position: relative;
    z-index: 9;
}

.breadcrumb-social span,
.button-share span {
    color: #2d373d;
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #f5f5f6;
    border-radius: 30px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    min-width: 90px;
    opacity: 0;
    visibility: hidden;
    z-index: 99999999999;
    -webkit-transform:translateX(-50%) ;
    -moz-transform:translateX(-50%) ;
    -ms-transform:translateX(-50%) ;
    -o-transform:translateX(-50%) ;
    transform:translateX(-50%) ;
}

.breadcrumb-social span:after,
.button-share span:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #f5f5f6;
}

.breadcrumb-social li a:hover span {
    opacity: 1;
    visibility: visible;
    bottom: -40px;
}

.social-icon-bg i.fa-facebook {
    background-color: #344f88;
}

.social-icon-bg i.fa-twitter {
    background-color: #2696cf;
}

.social-icon-bg i.fa-google-plus {
    background-color: #d34132;
}

.social-icon-bg i.fa-linkedin {
    background-color: #146ba4;
}

.social-icon-bg i.fa-dribbble {
    background-color: #d74279;
}

.social-icon-bg i.fa-behance {
    background-color: #050607;
}

.social-icon-bg i.fa-globe {
    background-color: #e96324;
}


/* Header */

.navbar.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background-color: #fff;
}

.navbar-brand {
    height: 55px;
}

.navbar-default .navbar-nav li a {
    font-size: 12px;
    color: #0a0a0a;
    display: block;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
    line-height: 25px;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.tr-dropdown-menu li a:hover {
    color: #008def;
    background-color: transparent;
}


/* Navbar Right */

.tr-header .navbar-right {
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 0;
}

.tr-header .nav-right i {
    color: #26B13E;
    margin-right: 5px;
}

.navbar-right .dropdown {
    display:inline;
    margin-right: 20px;
    padding: 22px 0;
}

.navbar-right .dropdown-menu {
    min-width: 150px;
}

.navbar-right .dropdown i,
.sign-in li i {
    color:#26B13E;
}

.navbar-right .dropdown span {
    margin:0 5px;
    color: #252525;
}

.navbar-right .dropdown-menu a,
.sign-in a {
    color: #252525;
    font-size: 12px;
}

.navbar-right .dropdown span:hover,
.sign-in a:hover,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    color: #26B13E;
    background-color: transparent;
}


/* Navbar Toggle */

.navbar-default .navbar-toggle {
    border-color: #26B13E;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #26B13E;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


/*Dropdown CSS*/

.tr-dropdown {
    position: relative;
}

.tr-dropdown-menu li a,
.dropdown-menu li a {
    padding: 5px 20px;
    display: block;
}

.dropdown-menu {
    padding: 10px 0;
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.tr-dropdown-menu {
    position: absolute;
    top: 100%;  
    right: 0;
    padding: 10px 0;
    min-width: 180px;
    list-style: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 9999;
    display: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px); 
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.tr-dropdown-menu.left {
    left: 0;
}

.tr-dropdown:hover >.tr-dropdown-menu{
    display: block;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;    
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.sign-in {
    display:inline;
    margin-right: 35px;
}

.sign-in li i {
    margin-right: 5px;
}

.sign-in li {
    display:inline-block;
}

.sign-in li:last-child {
    position: relative;
    margin-left: 10px;
}

.sign-in li:last-child:before {
    position: absolute;
    left: -11px;
    top: 50%;
    background-image: url(../images/others/sign-in-before.png);
    background-repeat: no-repeat;
    width: 7px;
    height: 10px;
    content: "";
    margin-top: -7px;
}

.tr-header .btn.btn-primary {
    padding: 8px 20px 5px;
    font-size: 12px;
}


/* Tr Banner */

.tr-banner {
    color: #fff;
    padding: 30px 0;
    background-image: url(/images/banner.png);
}

.banner-content h1 {
    font-size: 48px;
    margin-top: 0;
}

.banner-content h2 {
    font-size: 24px;
    margin-bottom: 0;
}

.banner-form {
    text-align: center;
    margin-top: 35px;
}

.banner-form form {
    background-color:#fff;
    position:relative;
    border-radius: 30px;
    max-width: 730px;
    display: inline-block;
}

.banner-form input,
.banner-form .dropdown {
    background-position: 20px center;
    background-repeat: no-repeat;
    font-size: 16px;
}

.banner-form .dropdown li a {
    line-height: 20px;
}

.banner-form .dropdown {
    width: 290px;
    line-height: 45px;
    padding: 0 15px 0 40px;
    text-align: left;
    background-image: url(../images/others/location-bg.png);
    background-position: 10px center;
}

.banner-form .dropdown-menu {
    min-width: 100%;
}

.banner-form .dropdown-menu a {
    font-size: 16px;
}

.banner-form .dropdown a {
    display: block;
}

.banner-form .dropdown a i {
    float: right;
    margin-top: 15px;
}

.banner-form .dropdown a {
    font-size: 16px;
    margin: 0;
    color: #000;
    border: none;
    border-radius: 5px 0 0 5px;
    text-transform: capitalize;
}

.banner-form input {
    width: 325px;
    padding:0 45px;
    color: #11414e;
    border: none;
    border-right: 1px solid #cdcdcd;
    border-radius: 30px 0 0 30px;
    background-image: url(../images/others/search-bg.png);
}

.banner-form input:focus {
    border-right-color: #cdcdcd;
}

.banner-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #11414e;
}
.banner-form input::-moz-placeholder { /* Firefox 19+ */
  color: #11414e;
}
.banner-form input:-ms-input-placeholder { /* IE 10+ */
  color: #11414e;
}
.banner-form input:-moz-placeholder { /* Firefox 18- */
  color: #11414e;
}

.banner-form .dropdown a {
    color: #11414e;
}

.banner-form .form-control, 
.banner-form button.btn-primary, 
.banner-form .dropdown {    
    float: left;
    height:46px;
    margin-bottom: 0;
    background-color: #fff;
}

.banner-form button.btn-primary {
    color: #fff;
    font-size: 14px;
    width: 114px;
    margin-right: -1px;
    padding: 0;
    line-height: 47px;
    background-color: #26B13E;
    border: 1px solid #26B13E;
    border-radius: 0 30px 30px 0;
    text-transform: uppercase;
}

.banner-form button.btn-primary:before {
    display: none;
}

.dropdown a:hover {
    color: #26B13E;
}


/* Homepage 2 Css */

.homepage-2 .navbar-default .navbar-nav li a:hover, 
.homepage-2 .navbar-default .navbar-nav li.active>a, 
.homepage-2 .navbar-default .navbar-nav>li>a:hover, 
.homepage-2 .navbar-default .navbar-nav>li>a:focus, 
.homepage-2 .navbar-default .navbar-nav>li.active>a, 
.homepage-2 .navbar-default .navbar-nav>.active>a:hover, 
.homepage-2 .navbar-default .navbar-nav>.active>a, 
.homepage-2 .navbar-default .navbar-nav>.active>a:focus, 
.homepage-2 .navbar-default .navbar-nav>.active>a:hover, 
.homepage-2 .tr-dropdown-menu li a:hover,
.homepage-2 .navbar-right .dropdown i, 
.homepage-2 .sign-in li i,
.homepage-2 .dropdown a:hover,
.homepage-2 .sign-in a:hover,
.homepage-2 .navbar-right .dropdown span:hover,
.homepage-2 .footer a:hover:hover {
    color: #f26522;
}

.form-control:focus {
    border-color: #f26522;
}

.homepage-2 .tr-download-app.section-before:before {
    background-color: rgba(242, 101, 34, 0.9);
}

.homepage-2 .navbar-default .navbar-toggle {
    border-color: #f26522;
}

.homepage-2 .navbar-default .navbar-toggle .icon-bar {
    background-color: #f26522;
}

.tr-users {
    color: #fff;
    padding: 100px 0;
    position: relative;
    background-image: url(../images/bg/user-bg.jpg);
    background-color: #c9c9c9;
    z-index: 1;
}

.tr-users:before,
.tr-users:after {
    position: absolute;
    content: "";
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.tr-users:before {
    left: 0;
    background-color: rgba(247, 148, 29, 0.92);
}

.tr-users:after {
    right: 0;
    background-color: rgba(242, 101, 34, 0.92);
}

.tr-users img {
    display: inline-block;
}

.tr-users span {
    display: block;
    margin-bottom: 30px;
}

.tr-users .btn {
    font-size: 12px;
    padding: 7px 30px 5px;
}

.tr-users .job-find .btn.btn-primary {
    border-color: #232a2f;
    background-color: #232a2f;
}

.tr-users .job-find .btn:hover {
    border-color: #fff;
}

.tr-users .for-employers .btn.btn-primary {
    color: #f26522;
    border-color: #fff;
    background-color: #fff;
}

.tr-users .for-employers .btn.btn-primary:before {
    background-color: #232a2f;
}

.tr-users .for-employers .btn.btn-primary:hover {
    color: #fff;
    border-color: #232a2f;
}

.homepage-2 .job-tab .nav-tabs>li.active>a, 
.homepage-2 .job-tab .nav-tabs>li.active>a:focus, 
.homepage-2 .job-tab .nav-tabs>li.active>a:hover,
.homepage-2 .job-tab .nav-tabs>li>a:hover {
    background-color: #f26522;
 }

.homepage-2 .job-item .item-overlay {
    background-color: #f26522;
}

.homepage-2 .item-overlay .btn.btn-primary {
    background-color: #d9591e;
    border-color: #d9591e;
}

.homepage-2 .item-overlay .btn.btn-primary:hover {
    color: #d9591e;
}

.homepage-2 .job-social li a {
    background-color: #d9591e;
    border-color: #d9591e;
}

.homepage-2 .job-social li:last-child a i {
    color: #f26522;
}

.homepage-2 .job-social li:last-child a:hover i {
    color: #fff;
}

.homepage-2 .job-social li a:before {
    background-color: #f26522;
}

.homepage-2 .btn.btn-primary {
    background-color: #f26522;
    border-color: #f26522;
}

.homepage-2 .btn.btn-primary:hover {
    color: #f26522;
}


/* Tr Testimonial 2 */

.tr-testimonial-2 {
    margin-bottom: 100px;
}

.testimonial-info {
    font-size: 16px;
    font-style: italic;
    line-height: 27px;
    color: #8f8d8f;
    padding: 40px;
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;
    min-height: 310px;
}

.testimonial-info:after {
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -5px;
    bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}

.testimonial-image {
    width: 80px;
    height: 80px;
    border: 8px solid #fff;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}


/* Tr Category */

.tr-category {
    text-align: center;
}

.category-list {
    border-radius: 4px;
    overflow: hidden;
}

.category-list li {
    float: left;
    width: 25%;
    font-size: 16px;
    background-color: #fff;
    border-right: 1px solid #e6e3e6;
    border-bottom: 1px solid #e6e3e6;
}

.category-list.category-list-bottom li {
    border-bottom: 0;
}

.category-list li:last-child {
    border-right: 0;
}

.category-list li a {
    color: #b5b5b5;
    display: block;
    padding: 40px 15px;
}

.category-list span {
    display: block;
}

.category-list .category-title {
    color: #505050;
}

.category-list .icon {
    margin-bottom: 5px;
    min-height: 40px;
}

.category-list .icon img {
    display: inline-block;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

.category-list li:hover .icon img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}



/* Tr Cta */

.tr-cta .cta-content {
    background-image: url(../images/bg/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
}

.cta-info h1 {
    font-size: 24px;
    color: #505050;
    margin: 5px 0 0 120px;
}


/* Tr Job Post */

.job-item {
    background-color: #fff;

}

.job-tab .nav-tabs {
    margin-bottom: 60px;
    border-bottom: 0;
}

.job-tab .nav-tabs>li {
    float: none;
    display: inline;
}

.job-tab .nav-tabs li {
    margin-right: 15px;
    position: relative;
}

.job-tab .nav-tabs li:last-child {
    margin-right: 0;
}

.job-tab .nav-tabs li:before {
    position: absolute;
    content: "";
    top: 50%;
    left: -50%;
    width: 100%;
    height: 1px;
    background-color: #fff;
    z-index: 999;
}

.job-tab .nav-tabs li:first-child:before {
    display: none;
}

.job-tab .nav-tabs>li a {
    display: inline-block;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: #000;
    z-index: 99999;
    padding: 5px 30px;
}

.job-tab .nav-tabs>li.active>a, 
.job-tab .nav-tabs>li.active>a:focus, 
.job-tab .nav-tabs>li.active>a:hover,
.job-tab .nav-tabs>li>a:hover {
    border: none;
    background-color: #26B13E;
    color: #fff;
}

.job-item {
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
    display:block;
    z-index: 1;
}

.job-item .btn.btn-primary {
    text-transform: capitalize;
}

.job-item .job-info {
    font-size: 14px;
    color: #000;
    

    padding: 40px 25px 20px;
}

.job-info .company-logo {
    margin-bottom: 5px;
}

.job-info .tr-title {
    margin-bottom: 15px;
}

.job-info .tr-title span {
    font-size: 14px;
    display: block;
}

.job-info .tr-title a {
    color: #000;
}

.job-info .tr-title a:hover {
    color: #26B13E;
}

.job-info ul {
    margin-bottom: 10px;
}

.job-meta li,
.job-meta li a {
    color: #646464; 
}

.job-meta li a:hover {
    color:#26B13E;
}

.job-meta li {
    font-size: 12px;
    margin-bottom: 10px;
}

.job-meta li span i {
    color: #000;
}

.job-meta li i {
    margin-right: 1px;
}

.job-item .time {
    position: relative;
}

.job-item .time:after {
    position: absolute;
    content: "";
    bottom: 35px;
    left: -50px;
    width: 150%;
    height: 1px;
    background-color: #f5f4f5;
    z-index: -1;
}

.job-item:hover .time,
.job-item:hover .time:after {
    opacity: 0;
}

.job-item .time span {
    font-size: 12px;
    color: #bebebe;
    line-height: 25px;
}

.job-item .btn.btn-primary,
.role .btn.btn-primary,
.job-item .time a span {
    padding: 5px 10px;
    border-radius: 4px;
    line-height: 10px;
    font-size: 12px;
}

.job-item .time a span {
    color: #fff;
    background-color: #f1592a;
    border-color: #f1592a;  
}

.job-item .time a span.part-time {
    background-color: #00aeef;
    border-color: #00aeef;
}

.job-item .time a span.freelance {
    background-color: #92278f;
    border-color: #92278f;  
}

.job-item .item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #26B13E;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
    transition: all 800ms;
}
.upload-section {
    overflow:hidden;
}

.add-image h5 {
    color: #000;
    font-size: 16px;
    position: relative;
    padding-left: 50px;
    line-height: 20px;
    margin-bottom: 25px;
    overflow: hidden;
}

.add-image h5 span {
    font-size: 14px;
    display:block;
    font-weight:300;
    color:#838383;
}

.add-image .fa-upload {
    position:absolute;
    left:0;
    top:3px;
    font-size: 36px;
    color: #00a651;
}

.add-image label.upload-image {
    width: 20%;
    height: 75px;
    border: 1px solid #e3e3e3;  
    border-radius: 4px;
    position: relative;
    margin-bottom:0;
    margin-left: 20px;
    cursor:pointer;
}

.add-image label.upload-image:first-child {
    margin-left:0;
}

.add-image label.upload-image:before {
    position: absolute;
    content: "\f055";
    font-family:'FontAwesome';
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #c2c2c2; 
    cursor:pointer;
    margin-top: -14px;
    margin-left: -14px;
    line-height: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.add-image label.upload-image:hover:before {
    color:#00a651;
}

.add-image label.upload-image input {
    display: none;
}

.job-item:hover .item-overlay {
    opacity: 1;
}

.item-overlay .job-info {
    padding: 45px 25px 40px;
    overflow: hidden;
}

.item-overlay .btn.btn-primary {
    background-color: #26B13E;
    border-color: #26B13E;
    margin-bottom: 10px;
}

.item-overlay .job-info,
.item-overlay .job-info ul li,
.item-overlay .job-info ul li i,
.item-overlay .job-info .tr-title a {
    color: #fff;
}

.job-social {
    margin-top: 35px;
}

.job-social li {
    float: left;
}

.job-social li + li {
    margin-left: 15px;
}

.job-social li a i {
    margin-right: 0;
    font-size: 14px;
}

.job-social li a {
    width: 35px;
    height: 35px;
    text-align: center;
    display: block;
    background-color: #007bd4;
    line-height: 35px;
    border-radius: 100%;
    border: 1px solid #007bd4;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.job-social li:last-child a {
    background-color: #fff;
}

.job-social li:last-child a i {
    color: #008def;
}

.job-social li a:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 100%;
    background-color:#008def;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.job-social li a:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding: 5px;
}

.job-social li a:hover {
    border-color: #fff;
}

.job-social li a:hover i {
    color: #fff;
}


/* Tr Steps */

.tr-steps {
    background-image: url(../images/bg/step-bg.jpg);    
    position: relative;
    z-index: 1;
}

.tr-steps .step {
    font-size: 14px;
    line-height: 24px;  
    color: #fff;
    padding:20px 10px 10px;
}

.tr-steps .step-image {
    min-height: 75px;
    margin-bottom: 15px;
}

.tr-steps h1 {
    font-size: 20px;
    color: #00aeef;
    margin: 0;
}

.tr-steps h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0 30px;
}


/* Tr Recent News */

.tr-post {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.entry-content {
    padding: 42px 40px;
}

.entry-title {
    font-size: 24px;
    margin-top: 0;
}

.entry-title a {
    color: #000;
}

.entry-meta li {
    float: left;
    color: #424242;
    font-size: 14px;    
    margin-right: 20px;
}

.entry-meta li:last-child {
    margin-right: 0;
}

.entry-meta li a {
    color: #424242;
}

.entry-meta li i {
    margin-right: 10px;
}

.tr-post a:hover {
    color: #00aeef;
}

/* Tr Testimonial */

.tr-testimonial {   
    background-color: #fff;
}

.testimonial-content {
    padding: 140px 0;
    background-image: url(../images/bg/testimonial-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;  
}

.tr-testimonial .slick-prev, 
.tr-testimonial .slick-next {
    display: none !important; 
}

.tr-testimonial .media-left {
    min-width: 130px;
}

.testimonial-slider {
    color: #8f8f8f;
    font-style: italic;
    font-size: 24px;
    max-width: 760px;
    line-height: 30px;
}

.testimonial-title {
    font-style: normal;
    color: #000;
    font-size: 14px;
    line-height: 0;
}

.testimonial-title h2 {
    font-size: 18px;
}


/* Tr Fun Fact */

.fun-fact {
    background-color: #fff;
    border-radius: 4px;
    color: #a0a0a0;
    font-size: 14px;
    line-height: 17px;
    padding: 50px;
    margin-bottom: 20px;
}

.fun-fact-content {
    margin-top: 20px;
}

.fun-fact img {
    display: inline-block;
}

.fun-fact h1 {
    font-size: 30px;
    color: #3d464d;
    margin: 20px 0 0;
}

.fun-fact span {
    font-size: 16px;
    color: #3d464d;
    margin: 15px 0;
    display: block;
}


/* Tr Download App */

.tr-download-app {
    background-image: url(../images/bg/app-bg.jpg);
    position: relative;
    z-index: 1;
}

.tr-download-app.section-before:before {
    background-color: rgba(0, 141, 239, 0.8);
}

.tr-download-app h1 {
    font-size: 26px;
    color: #fff;
    text-align: center;
    margin: 15px 0 45px;
    text-transform: capitalize;
}

.tr-download-app h2 {
    color:#fff;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 50px;
}

.app-content {
    padding: 0 80px;
}

.download-app a {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    min-height: 75px;
    color: #fff;
    font-size: 16px; 
    margin-bottom: 20px;
}

.download-image {
    display: inline-block;
    margin-right: 15px;
}

.download-image img {
    display: inline-block;
    margin-top: -20px;
}

.download-info {
    display: inline-block;
    text-align: left;
}

.download-app strong {
    font-size: 25px;
    display:block;
    font-weight: normal;
    line-height: 20px;
}

.download-app a:hover, 
.download-app a:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color:#fff;
    border-radius: 5px;
}


/* Job Details */

.tr-breadcrumb .buttons {
    margin-top: 50px;
}

.tr-breadcrumb .buttons a {
    margin-right: 15px;
}

.tr-breadcrumb .buttons a:last-child {
    margin-right: 0;
}

.btn.button-bookmark {
    border-color: #89c040;
    background-color: #89c040;
}

.btn.button-bookmark:hover {
    color: #89c040;
}

.btn.button-share:before {
    display: none;
}

.btn.button-share {
    overflow: visible;
    border-color: #25292e;
    background-color: #25292e;
}

.btn.button-share:hover {
    color: #25292e;
    background-color: #fff;
}

.button-share span:after {
    border-bottom: 10px solid #fff;
}

.button-share span {
    padding: 10px 15px;
    background-color: #fff;
    text-transform: capitalize;
}

.button-share span a:hover i.fa-facebook {
    color: #344f88;
}

.button-share span a:hover i.fa-twitter {
    color: #2696cf;
}

.button-share span a:hover i.fa-google-plus {
    color: #d34132;
}

.button-share span {
    padding: 5px 15px;
}

.button-share:hover span {
    opacity: 1;
    visibility: visible;
    bottom: -47px;
    line-height: 0;
}

.btn.button-share a  {
    margin: 0;
    color: #2d373d;
    padding: 5px;
    display: inline-block;
}

.btn.button-share span a i {
    margin: 0;
    font-size: 14px;
}

.job-summary {
    font-size: 14px;
    color: #272727;
    border-radius: 4px;
    line-height: 22px;
}

.job-summary span {
    display: block;
    font-size: 18px;
    margin: 50px 0 15px;
}

.job-summary span:first-of-type {
    margin-top: 0;
}

.job-summary ul li {
    line-height: 30px;
}

.job-details .tr-cta {
    margin-bottom: 30px;
}

.job-details .tr-job-posted .tr-title {
    display: block;
    margin-bottom: 25px;
}

.job-details .widget_title {
    font-size: 18px;
}

.job-tabs {
    float: right;
    border: none;
}

.job-tabs>li {
    float: left;
    margin-right: 20px;
}

.job-tabs>li>a {
    padding: 0;
    color: #d4d3d4;
    border: none;
}

.job-tabs>li a:hover, 
.job-tabs>li a:focus, 
.job-tabs>li.active>a, 
.job-tabs>li.active>a:focus, 
.job-tabs>li.active>a:hover {
    border: none;
    color: #000;
    background-color: transparent;
}

.job-tabs>li:last-child {
    margin-right: 0;
}

.job-tabs li {
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}

.job-tabs li:first-child {
    font-size: 14px;
    cursor: inherit;
    margin-top: 2px;
}

.job-topbar {
    color: #000;
    overflow: hidden;
    margin-bottom: 15px;
}

.list-menu {
    border-radius: 4px;
    margin-bottom: 30px;
}

.list-menu .dropdown-menu {
    min-width: 100%;
}

.list-menu>ul>li {
    float: left;
    width: 20%;
    color: #acacac;
    font-size: 14px;
    padding: 25px 15px;
    background-color: #fff;
    border-right: 1px solid #f5f4f5;
}

.list-menu li a {
    color: #000;
}

.list-menu li i {
    margin-left: 5px;
}

.list-menu li:last-child {
    border-right: 0;
}


/* Tr Sidebar */

.widget {
    color: #a9a9a9;
    padding: 35px 25px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
}

.widget ul li {
    font-size: 14px;
    padding: 5px 0;
}

.widget ul li a {
    color: #a9a9a9;
}

.widget ul li a:hover {
    color:#26B13E;
}

.widget_title {
    color: #272727;
    margin: 0 0 20px;
}

.widget span {
    color: #707070;
    font-size: 16px;
    margin-bottom: 5px;
    line-height:16px;
}

.widget.short-info i {
    color: #0389e7;
    font-size: 18px;
    margin-right: 15px;
}

.widget.short-info li span {
    display: block;
}

.widget.cmpany-info> span {
    display: block;
    margin-bottom: 10px;
}

.widget.cmpany-info ul {

}

.widget.cmpany-info ul li {
    line-height: 20px;
}

.widget.cmpany-info ul li span {
    font-size: 14px;
}

.widget-social {
    overflow: hidden;
    margin-top: 5px;
}

.widget-social ul li {
    float: left;
    font-size: 18px;
    margin-right: 20px;
}

.widget-social ul li:last-child {
    margin-right: 0;
}

.widget-social .fa-facebook-square {
    color: #0072bc;
}

.widget-social .fa-twitter-square {
    color: #00aeef;
}

.widget-social .fa-google-plus-square {
    color: #eb434a;
}

.widget-social .fa-linkedin-square {
    color: #448ccb;
}


/* User Account */

.user-account {
    overflow: hidden;
}

.user-account,
.user-account a {
    color: #bbc0d4;
}

.account-content {
    padding: 35px 30px;
    border-radius: 4px; 
    background-color: #fff;
}

.user-account .form-control,
.user-account .dropdown {
    padding: 5px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #fcfcfc;
}

.user-account .dropdown {
    border: 1px solid #e8e6e8;
}

.user-account .dropdown a {
    display: block;
}

.user-account .dropdown {
    padding: 12px 20px;
}

.user-account .dropdown-menu {
    width: 100%;
}

.user-account .dropdown i {
    float: right;
    margin-top: 2px;
}

.user-account .btn {
    width: 100%;
    padding: 12px 20px 8px;
    margin-bottom: 25px;
}

.user-option {
    overflow: hidden;
    margin-bottom: 25px;
}

.checkbox {
    float: left;
    margin: 0;
}

.forgot-password {
    float: right;
}

.checkbox label {
    padding-left: 30px;
}

.checkbox label input[type="checkbox"] {
    width: 0;
    height: 0;
    display: none;
}

.checkbox label:before {
    position: absolute;
    color: #bbc0d4; 
    content: "";
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #bbc0d4;
    border-radius: 100%;
    background-color: #fcfcfc;
}

.checkbox label:after {
    position: absolute;
    color: #008def; 
    content: "\f00c";
    left: 3px;
    top: 7px;
    font-family: "fontawesome";
    font-size: 10px;
    line-height: 0; 
    display: none;
}

.checkbox label.checked,
.user-account a:hover {
    color: #26B13E;
}

.checkbox label.checked:before {
    border-color: #26B13E;
}

.checkbox label.checked::after {
    display: block;
}

.form-control option {
    padding: 10px;
}

.nav-tabs.nav-justified {
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #f5f4f5;
    background-color: #fff;
}

.nav-tabs.nav-justified>li+li {
    border-left: 1px solid #fff;
}

.nav-tabs.nav-justified>li>a {
    font-size: 16px;
    color: #2a343a;
    border: none;
    border-radius: 0;
}

.nav-tabs.nav-justified>.active>a, 
.nav-tabs.nav-justified>.active>a:focus, 
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>li>a:hover {
    border: 0;
    color: #fff;
    background-color: #26B13E;
}

.tab-content .account-content {
    border-radius: 0px 0px 4px 4px;
}


/* Tr Profile */

.tr-profile {
    color: #272727;
    line-height: 22px;
}

.account-info .fun-fact {
    padding: 40px 20px;
}

.account-info .fun-fact h1 {
    margin: 0;
}

.account-info .fun-fact span {
    margin:0;
}

.account-info .fun-fact-icon {
    float: left;
    margin-right: 15px;
}

.resume-info>li {
    margin-bottom: 30px;
    position: relative;
}

.profile-tabs {
    border: 0;
    padding: 40px 30px;
}

.profile-tabs>li i {
    font-size: 18px;
    color: #26B13E;
    margin-right: 10px;
}

.profile-tabs>li {
    float: none;
    font-size: 16px;
    margin-bottom: 20px;
}

.profile-tabs>li:last-child {
    margin-bottom: 0;
}

.profile-tabs>li>a {
    color: #707070;
    margin-right: 0;
    border: 0;
    border-radius: 0;
    display: block;
    padding: 10px 0;
}

.profile-tabs>li>a:hover,
.profile-tabs>li>a:focus,
.profile-tabs>li.active>a, 
.profile-tabs>li.active>a:focus, 
.profile-tabs>li.active>a:hover {
    color: #26B13E;
    border: 0;
    background-color: transparent;
}

.tr-sidebar .btn i{
    float: none;
    display: inline-block;
    margin-right: 5px;
}
.tr-sidebar .btn span {
    margin-top: 0;
}

.resume-info .icon {
    float: left;
    font-size: 30px;
    color: #26B13E;
    margin-right: 30px;
}

.resume-info .media-body .icon {
    font-size: 14px;
    width: 35px;
    height: 35px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    background-color: #26B13E;
    border-radius: 4px;
}

.resume-info .media-body .icon a {
    color: #fff;
    display: block;
}

.resume-info label {
    color: #bebec0;
}

.work-history ul li,
.education-background .media-body>ul>li,
.company-achievement .media-body>ul>li {
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f1f1f1;
}

.work-history ul li:last-child,
.education-background .media-body>ul>li:last-child,
.company-achievement .media-body>ul>li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.work-history span,
.education-background span,
.company-achievement span {
    display: block;
}

.resume-info .media-body ul>li>span {
    font-weight: 500;
    color: #2d3038;
}

.resume-info .media-body ul>li>span.present {
    font-weight: normal;
}

.work-history .present,
.company-achievement li ul {
    margin-bottom: 20px;
}

.tr-sidebar .btn {
    width: 100%;
    border-radius: 0;
    padding: 8px 20px;
    text-transform: capitalize;
}

.education-background li ul {
    margin-bottom: 20px;
    overflow: hidden;
}

.education-background li ul li {
    float: left;
    margin-right: 45px;
}

.education-background li ul li:last-child {
    margin-right: 0;
}

.qualification ol {
    margin: 0;
    padding-left: 15px;
}

.qualification ol li,
.personal-deatils li {
    margin-bottom: 10px;
}

.language-proficiency li {
    float: left;
}

.language-proficiency .media-body>ul>li {
    margin-right: 55px;
    margin-bottom: 10px;
    position: relative;
}

.language-proficiency .media-body>ul>li:last-child,
.language-proficiency .rating li:last-child {
    margin-right: 0;
}

.language-proficiency .media-body>ul>li+li:before {
    position: absolute;
    content: "";
    top: 0;
    left: -27px;
    width: 1px;
    height: 100%;
    background-color: #f1f1f1;
}

.language-proficiency li ul {
    margin-top: 5px;
}

.language-proficiency .rating li {
    color: #26B13E;
    margin-right: 5px;
}

.personal-deatils .media-body ul>li>span {
    font-weight: normal;
}

.personal-deatils .left {
    min-width: 180px;
    float: left;
}

.personal-deatils .middle{
    margin-right: 30px;
    float: left;
}

.personal-deatils .right {
    display: table-cell;
    vertical-align: top;    
    width: 10000px;
}

.personal-deatils label {
    width: 100%;
    font-weight: normal;
    margin-top: 10px;
    color: #2d3038;
}

.personal-deatils .form-control {
    margin-bottom: 0;
}

.personal-deatils .calendar {
    margin-bottom: 20px;
}

.resume-info .buttons {
    margin-top: 50px;
    text-transform: uppercase;
}

.buttons .btn {
    padding: 10px 20px 8px;
    text-transform: uppercase;
}

.buttons>.btn {
    margin-right: 10px;
}

.btn.button-cancle {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}

.btn.button-cancle:hover {
    border-color: #26B13E;
    color: #fff;
}

.btn.button-cancle:before {
    background-color: #26B13E;
}


/* Account Info */

.resume-last-updated {
    padding: 10px 40px;
}

.account-info .icon {
    float: left;
    margin-right: 15px;
}

.account-info .title {
    margin-bottom: 30px;
}

.updated-info {
    margin-top: 5px;
    overflow: hidden;
}

.account-info .title span {
    margin-top: 5px;
    display: inline-block;
}

.change-photo {
    margin-bottom: 35px;
    overflow: hidden;
}

.change-photo .user-image {
    float: left;
    margin:0 20px 0 0;
    border: none;
}

.change-photo .upload-photo {
    margin-top: 45px;
}

.change-photo .upload-photo .btn {
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
    padding: 10px 20px 7px;
    text-transform: uppercase;  
}

.change-photo .upload-photo input {
    display: none;
}

.account-details li {
    color: #bebec0;
    font-weight: 700;
}

.account-info li {
    overflow: hidden;
    margin-bottom: 20px;
}

.account-info li:last-child {
    margin-bottom: 0;
}

.account-details li span,
.account-info .social a {
    display: block;
    font-weight: normal;
    padding: 10px 20px;
    color: #2d3038;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #e8e6e8;
    background-color: #faf7fa;  
}

.account-details li a {
    color: #2d3038;
}

.account-details li a:hover {
    color: #26B13E;
}

.account-info .social i {
    color: #fff;
    width: 45px;
    height: 45px;
    float: left;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    border-radius: 4px;
    margin-right: 20px;
}

.account-info .social a {
    margin-top: 0;
}

.account-info .social a:hover {
    color: #26B13E;
}


/* Edit Resume */

.jqte {
    color: #2d3038;
    padding: 30px;
    background-color: #faf7fa;
    border: 1px solid #e8e6e8;
    border-radius: 4px;
}

.code-edit p:last-of-type {
    margin-bottom: 0;
}

.edit-resume .checkbox {
    margin-top: 38px;
}

.edit-resume .checkbox label {
    font-size: 14px;
    color: #2d3038;
}

.calendar .form-control {
    padding: 12px 20px;
}

.edit-resume .checkbox label:before {
    border-color: #e8e6e8;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

.edit-resume .checkbox label:after {
    font-size: 12px;
    top: 10px;
    left: 4px;
}

.edit-resume label.checked:before {
    border-color: #26B13E;
}

.edit-resume .work-history ul li {
    margin-bottom: 25px;
    padding-bottom: 30px;
}

.edit-resume .work-history ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.rating-star {
    height: 45px;
    line-height: 25px;
    padding: 10px 20px;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #e8e6e8;
    background-color: #faf7fa;
    margin-bottom: 20px;
}

.rating-star .rating {
    float: right;
    font-size: 14px;
}

.code-edit-small .jqte {
    padding: 12px 20px;
    margin-bottom: 20px;
}

.rating-star .jqte {
    padding: 0;
    border: 0;
    margin: 0;
    min-width: 70px;
    float: left;
}

.rating-star .jqte_editor {
    overflow: hidden;
}

.rating > input[type="radio"] + label {
    cursor: default;
    margin: 0;
    padding: 0;
    color: #bbb;
    float: right;
    line-height: 18px;
    position: relative;
}

.rating > input { 
    display: none; 
} 

.rating > label:before { 
  margin: 3px;
  font-size: 13px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { 
    color: #008def;  
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
 color: #008def;  
} 


/* Apply Job */

.apply-job .job-meta,
.two-column .job-meta {
    overflow: hidden;
    margin: 10px 0 0;
}

.job-item .left-content,
.role .left-content {
    float: left;
}

.job-item .right-content,
.role .right-content {
    float: right;
}

.job-item .right-content span,
.role .right-content span {
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;
}

.job-item .right-content span a,
.job-item .right-content span,
.role .right-content span,
.role .right-content span a {
    color: #e0e0e0;
}

.job-item .right-content span a:hover,
.job-item .right-content span:hover,
.role .right-content span:hover,
.role .right-content span a:hover {
    color: #26B13E;
}

.apply-job .tr-title,
.open-role .tr-title,
.two-column .tr-title,
.archived-job .tr-title {
    float: left;
    margin: 5px 10px 0 0;
}

.apply-job .job-meta li,
.archived-job .job-meta li,
.two-column .job-meta li {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
}

.apply-job .job-meta li:last-child,
.two-column .job-meta li:last-child,
.archived-job .job-meta li:last-child {
    margin-right: 0;
}

.apply-job .company-logo,
.two-column .company-logo {
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
}

.apply-job .job-info,
.two-column .job-info {
    padding: 30px 40px;
}

.apply-job .btn {
    margin: 5px 0 0 0;
}
.apply-job .button-cancle {
    padding: 10px 20px 8px;
    text-transform: uppercase;
}

.right-content span.applied {
    color: #bebebe;
    font-size: 12px;
    text-align: right;
    display: block;
    margin-top: 15px;
}

.right-content span.applied:hover {
    color: #bebebe;
}


/* archived-job */

.archived-job .tr-title,
.open-role .tr-title,
.two-column .tr-title {
    margin-top: 0;
}

.deadline {
    display: block;
    margin: 5px 0 0;
    font-size: 12px;
    color: #bebebe;
}

.archived-job .job-info,
.open-role .role {
    padding: 30px 40px;
}

.jobs-listing .tr-cta {
    margin-bottom: 30px;
}


/* Close Account */

.close-account {
    text-align: center;
    padding: 100px 15px;
}

.close-account h1 {
    margin: 0 0 15px;
}

.close-account span {
    display: block;
    font-size: 24px;
    margin-bottom: 40px;
}

/* Open Role */

.open-role .role {
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #fff;
}

.open-role .btn.btn-primary {
    text-transform: capitalize;
}

.role .right-content span {
    margin-right: 15px;
}

.role .right-content span:last-child {
    margin-right: 0;
}

.role .tr-title a {
    color: #000;
}

.role .tr-title a:hover {
    color: #26B13E;
}

.role .job-meta {
    margin-top: 5px;
}

.role .job-meta li {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
}

.role .job-meta li:last-child {
    margin-right: 0;
}


/* Additem CSS*/

.additem {
    margin-bottom: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f1f1;
}

.additem .icon.clone,
.additem:first-of-type .icon.remove {
    display: none;
}

.additem:first-of-type .icon.clone{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    margin-right: 0;
}

.additem:last-of-type {
    border-bottom: 0;
}

.additem .icon.remove {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0px;
    margin-top: -41px;
    margin-right: 0;
}

.additem .icon.clone, 
.additem .icon.remove{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border:1px solid#26B13E;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.additem .icon.clone:hover, .additem .icon.remove {
    background-color:#fff;
    color:#26B13E;
}

.additem .icon.remove:hover {
    background-color:#26B13E;
    color:#fff;
}

.education-background .additem:nth-child{
    padding-bottom: 40px;
}

/* Job Post */

.tr-post-job .tr-title {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
}

.tr-post-job .short-info .section {
    overflow: visible;
}

.tr-post-job .dropdown {
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 4px;  
    background-color: #faf7fa;
    border: 1px solid #e8e6e8;
}

.tr-post-job .col-sm-3 label {
    margin-top: 12px;
    font-weight: normal;
    color: #2d3038;
}

.tr-post-job .dropdown-menu {
    min-width: 100%;
}

.tr-post-job .dropdown a {
    color: #2d3038;
    display: block;
}

.tr-post-job .dropdown i {
    float: right;
    margin-top: 2px;
}

.tr-post-job .dropdown a:hover {
    color: #26B13E;
}

.tr-post-job .exprience-level,
.tr-post-job .job-category {
    margin-bottom: 20px;
}

.tr-post-job input[type="radio"]+label {
    cursor: pointer;
    margin-right:25px;
    padding-left:25px;
    position:relative;
    color:#2d3038;
    margin-bottom:0;
    font-weight: normal;
}

.tr-post-job input[type="radio"]+label:last-of-type {
    margin-right: 0;
}

.tr-post-job input[type="radio"] {
    display:none;
}

.tr-post-job input[type="radio"] + label:before {
    position:absolute;
    top:3px;
    left:0;
    content:"";
    width:15px;
    height:15px;
    border-radius:100%;
}

.tr-post-job input[type="radio"] + label:before {
    border: 2px solid #26B13E;
}

.tr-post-job input[type="radio"]:checked + label:before {
    border: 4px solid#26B13E;
}

.tr-post-job .radio-type,
.tr-post-job .exprience {
    padding: 12px 0;
}

.tr-post-job .aegotiable {
    margin-top: 12px;
}

.tr-post-job .aegotiable span {
    margin-right: 5px;
}

.tr-post-job .job-description .jqte {
    padding: 12px 20px;
    min-height: 250px;
}

.job-description .characters-left {
    font-style: italic;
    display: block;
    margin-top: 5px;
}

.tr-post-job .job-description .row {
    margin-bottom: 30px;
}

.premium-post ul {
    margin-top: 30px;
    max-width: 380px;
}

.premium-post ul li span {
    float: right;
}

.premium-post ul li {
    margin-bottom: 25px;
}

.premium-post ul li:last-child {
    margin-bottom: 0;
}

.agreement  label {
    position: relative;
    padding-left: 25px;
    display: block;
    cursor:pointer;
    font-size: 16px;
    margin-bottom: 40px;
}

.agreement label input[type="checkbox"] {
    width: 0;
    height: 0;
    display: none;
}

.agreement label:before{
    position: absolute;
    color: #26B13E;
    font-size: 16px;
    content: "\f096";
    font-family:'FontAwesome';
    left: 0;
    top: 0;
}

.agreement label.checked:before {
    content: "\f14a";
    color: #26B13E;
}

.quick-rules .tr-title {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 15px;
}

.quick-rules a {
    color: #7b7b7b;
}

.quick-rules a:hover {
    color: #26B13E;
}

.quick-rules ul {
    margin-top: 30px;
}

.quick-rules ul li {
    position: relative;
    margin-bottom: 25px;
    padding-left: 15px;
}

.quick-rules ul li:before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #26B13E;
    border-radius: 100%;
}

.quick-rules ul li:last-child {
    margin-bottom: 0;
}


/* Tr Found */

.tr-found.section {
    padding: 80px;
}

.found-info {
    color: #b0b0b0;
}

.found-info h1 {
    color: #008def;
    font-size: 110px;
    margin-bottom: 0;
}

.found-info h2 {
    color: #000;
    margin: 0 0 5px;
}

.found-info .btn.btn-primary {
    margin-top: 30px;
}


/* Tr Coming Soon */

.tr-coming-soon {
    color: #fff;
    text-transform: uppercase;
    background-image: url(../images/bg/banner.jpg);
}

.tr-coming-soon.section-before:before {
    background-color: rgba(0, 141, 239, 0.9);
}

.tr-coming-soon .logo {
    margin-bottom: 70px;
}

.tr-coming-soon .logo img {
    display: inline-block;
}

.tr-coming-soon h1 {
    font-size: 72px;
    margin: 0;
}

.tr-coming-soon h2 {
    font-size: 28px;
}

.countdown {
    margin: 60px 0 70px;
}

.countdown li {
    font-size: 14px;
    margin-right: 50px;
    display: inline-block;
}

.countdown li span {
    font-size: 80px;
}

.countdown li:last-child {
    margin-right: 0;
}

.tr-coming-soon .tr-form {
    width: 565px;
    position: relative;
    display: inline-block;
}

.tr-coming-soon .tr-form .form-control {
    height: 60px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 30px;
    text-transform: uppercase;
    border-color: rgba(0, 141, 239, 0.9);
    background-color: rgba(0, 0, 0, 0.3);
}

.tr-coming-soon input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.tr-coming-soon input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.tr-coming-soon input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.tr-coming-soon input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.tr-coming-soon .tr-form .form-control:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.tr-coming-soon .tr-form button {
    position: absolute;
    top: 13px;
    right: 30px;
    padding: 0;
    font-size: 24px;
    border: 0;
    background-color: transparent;
}

.tr-coming-soon .tr-form button:hover {
    right: 25px;
}

.tr-coming-soon .social {
    margin: 40px 0 20px;
}

.tr-coming-soon .social ul li {
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}

.tr-coming-soon .social ul li:last-child {
    margin-right: 0;
}

.tr-coming-soon .social ul li a {
    color: #fff;
    padding: 5px;
}

.tr-coming-soon .copyright {
    text-transform: capitalize;
}

.tr-coming-soon .copyright a {
    color: #fff;
}


/* Gmap */

#gmap {
    height: 420px;
    margin-bottom: 30px;
    background-color: #eaeaea;
}

.contact-section .tr-form {
    margin-top: 30px;
}

.contact-section textarea.form-control {
    resize: none;
    height: 110px;
    padding: 12px 20px;
}

.contact-section button {
    margin-top: 10px;
}

.contact-section .info-list {
    margin: 40px 0;
}

.contact-section .info-list li {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact-section .info-list li:last-child {
    margin-bottom: 0;
}

.contact-section .info-list li i {
    float: left;
    color: #26B13E;
    margin-right: 15px;
    margin-top: 5px;
}

.info-list .media-body span {
    display: block;
    margin-bottom: 5px;
}

.info-list .media-body a {
    color: #7b7b7b;
}

.contact-section .social li {
    float: left;
    font-size: 22px;
    margin-right: 15px;
}

.contact-section .social li a {
    padding: 5px;
    color: #d1cfd1;
}

.contact-section .social li a:hover,
.info-list .media-body a:hover {
    color: #26B13E;
}


/* Tr Pricing */

.pricing {
    background-color: #fff;
    padding: 40px 30px;
    color: #000;
    border-radius: 4px;
    margin-bottom: 15px;
    position: relative; 
    overflow: hidden;
}

.pricing>span {
    font-size: 20px;
    display: block;
}

.pricing h1 {
    font-size: 72px;
    margin: 0 0 50px;
}

.pricing h1 sup {
    font-size: 30px;
    font-weight: 500;
    top: -25px; 
}

.pricing h1 span {
    font-size: 14px;
    color: #000;
}

.pricing-list li {
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.pricing-list li i {
    color: #26B13E;
    margin-right: 20px;
}

.pricing-list li i.fa-times {
    color: #dfdfdf;
}

.pricing .btn.btn-primary {
    color: #fff;
    padding: 8px 20px;
    margin-top: 30px;
    text-transform: capitalize;
    background-color: #253b4b;
    border-color: #253b4b;
}

.pricing .btn.btn-primary:before {
    background-color: #26B13E;
}

.pricing .btn.btn-primary:hover {
    border-color: #26B13E;
}

.pricing .most-popular {
    position: absolute;
    top: 25px;
    right: -60px;
}

.pricing .most-popular span {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 10px 70px;
    background-color:#26B13E;
    -webkit-transform:rotate(40deg) ;
    -moz-transform:rotate(40deg) ;
    -ms-transform:rotate(40deg) ;
    -o-transform:rotate(40deg) ;
    transform:rotate(40deg) ;
}


/* Tr Notification */

.tr-notification {
    padding: 80px;
    font-size: 24px;
}

.tr-notification .icon {
    font-size: 72px;
    color: #26B13E;
    line-height: 0;
}

.tr-notification h1 {
    font-size: 30px;
    color: #26B13E;
    margin: 20px 0 0;
}

.tr-notification .btn {
    margin-top: 35px;
}


/* Footer */

.footer-top {
    background-color: #fff;
}

.footer-widget h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 35px;
}

.footer-widget li {
    margin-bottom: 20px;
}

.footer,
.footer a {
    color: #858585;
}

.footer a:hover {
    color: #26B13E;
}

.footer-bottom {
    padding: 25px 0 15px;
}

.footer .copyright {
    float: left;
}

.footer-social li {
    float: left;
}

.footer-social li+li {
    margin-left: 20px;
}

.footer-social li a {
    font-size: 16px;
    color: #d1cfd1;
}

.footer-widget .form-control {
    margin: 30px 0 20px;
    background-color: transparent;
}

.footer-widget .btn {
    padding: 5px 20px;
    text-transform: capitalize;
}


/* ==========================================================================
    Extra CSS
 ========================================================================== */

a, .btn:before, .job-social li a:before,
.navbar-right span, button.btn-primary,
.checkbox label:after, .remove-icon,
.breadcrumb-social span, .job-item .time,
.job-item .time:after, .button-share,
.button-share span, .tr-form button,
.form-control, .category-list .icon img,
.button-share span i {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

